/* Variables */
// $white: #fff;

$light: #fff;
$dark: #000;

$gray-light: #f4f4f4;
$gray-dark: #404040;

$orange: #f8893f;

/*********************************************/

/* FONTS */

// @import url(https://fonts.googleapis.com/css?family=Marvel:400,400italic,700,700italic);

// @import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700);

/*************************************
 * MIXINS
 */
@mixin prefix($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

// keyframes mixin
@mixin keyframes($name) {
    $vendor: "";

    @-webkit-keyframes #{$name} {
        $vendor: -webkit-;

        @content;
    }

    @-moz-keyframes #{$name} {
        $vendor: -moz-;

        @content;
    }

    @-ms-keyframes #{$name} {
        $vendor: -ms-;

        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

/* EXTENDABLES */
.vcenter {
    top: 50%;
    transform: translateY(-50%);
}

.hcenter {
    left: 50%;
    transform: translateX(-50%);
}

.fullcenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cover {
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.clearfix {
    &:after {
        display: block;
        content: '';
        width: 100%;
        height: 0;
        clear: both;
    }
}


@include keyframes(swing) {
    0% { @include prefix(transform, translate(-50%, -50%) rotate(-3deg)) }
    25% { @include prefix(transform, translate(-50%, -50%) rotate(3deg)) }
    50% { @include prefix(transform, translate(-50%, -50%) rotate(-2deg)) }
    75% { @include prefix(transform, translate(-50%, -50%) rotate(1deg)) }
    100% { @include prefix(transform, translate(-50%, -50%) rotate(0deg)) }
}

@include keyframes(swing-btn) {
    0% { @include prefix(transform, translate(0, 0) rotate(-10deg)) }
    25% { @include prefix(transform, translate(0, 0) rotate(10deg)) }
    50% { @include prefix(transform, translate(0, 0) rotate(-5deg)) }
    75% { @include prefix(transform, translate(0, 0) rotate(2deg)) }
    100% { @include prefix(transform, translate(0, 0) rotate(0deg)) }
}

@include keyframes(blow) {
    0% { @include prefix(transform, scale(1)) }
    30% { @include prefix(transform, scale(1.15)) }
    100% { @include prefix(transform, scale(1)) }
}


@include keyframes(no-blow) {
    0% { @include prefix(transform, scale(1)) }
    30% { @include prefix(transform, scale(1)) }
    100% { @include prefix(transform, scale(1)) }
}
/* RULES */

/* END RULES */
